## .NET build artifacts
bin/
obj/
*.user
*.suo
.vs/
*.csproj.user

## Published output
publish/
out/

## NuGet packages
*.nupkg
packages/

## OS files
.DS_Store
Thumbs.db

## Security & Secrets (BẮT BUỘC CHẶN ĐỂ BẢO MẬT)
# Chặn file cấu hình chứa Key thật
HDKmall/appsettings.json
HDKmall/appsettings.Development.json

# Chặn thư mục chứa User Secrets của .NET
secrets.json
.microsoft/usersecrets/

# Chặn các file môi trường
.env
*.env.local
